:root {
    /* THEMA 1 */
    --white-default: #f6eded;
    --white-absolut-default: #ffffff;
    --blue-default: #0275d8;
    --dark-blue-selected-default: #0166be;
    --black-default: #000;
    --grey-default: #bcbcbc;
    --grey-select-default:  rgb(217, 217, 217);
    --grey-dark-text: rgb(100, 100, 100);
    --light-blue-selected-default: rgb(0, 149, 255);
    --orange-dark-default: #E4A11B;
    --green-default: #16b154;
}
