body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 64px 1fr 64px;
    grid-template-areas:
        "header header"
        "sidebar content"
        "sidebar footer";
    height: 100vh;
    margin: 0;
    background-color: var(--white-default);
}

body.hide-sidebar {
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "content"
        "footer";
}

header.header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-default);
    font-size: 1.6rem;
    flex-basis: 250px;
    height: 100%;
}

header.header .menu-toggle {
    color: var(--white-default);
    cursor: pointer;
}

header.header .spacer {
    flex: 1;
}

header.header .dropdown-button {
    position: relative;
}

header.header .dropdown-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1rem;
    color: var(--white-default);
    cursor: pointer;
}

header.header .dropdown-content {
    display: none;
    position: absolute;
    min-width: 100%;
    background-color: var(--white-default);
    padding: 10px 0px;
    z-index: 100;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
}

header.header .dropdown:hover .dropdown-content {
    display: block;
}

header.header .dropdown-content ul {
    list-style: none;
    padding-left: 0px;
}

header.header .dropdown-content a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 300;
    color: var(--black-default);
    padding-left: 3px;
    font-size: 16px;
    padding: 6px;
}

header.header .dropdown-content a:hover {
    text-decoration: underline;
    padding-left: 3px;
    font-weight: bold;
    color: var(--light-blue-selected-default);
    transition: 500ms;
    background-color: var(--green-select-default);
}

header.header .dropdown:hover {
    background: var(--dark-blue-selected-default);
}

aside.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -5px 0px 25px 1px rgba(0, 0, 0, 0.4);
    grid-area: sidebar;
    background-color: var(--white-default);
}

aside.sidebar .menu {
    width: 100%;
    flex-grow: 1;
}

aside.sidebar .menu ul.nav-list {
    list-style: none;
    padding: 6px;
    margin: 0px;
}

aside.sidebar .menu li.nav-item {
    margin: 0px;
    padding: 5px 0px 5px 10px;
}

aside.sidebar .menu li.nav-item a{
    font-size: 1.0rem;
    display: block;
    text-decoration: none;
}

aside.sidebar .menu li.nav-item:hover {
    background-color: var(--green-select-default);
    font-weight: 600;
}

header.header {
    grid-area: header;
    background: var(--blue-default);
    display: flex;
    align-items: center;
    z-index: 10;
    box-shadow:
        0 2px 4px -1px rgba(0, 0, 0, .2),
        0 4px 4px -1px rgba(0, 0, 0, .14),
        0 1px 10px 0px rgba(0, 0, 0, .12);
}

body.hide-sidebar aside.sidebar {
    display: none;
}

main.content {
    grid-area: content;
    background-color: var(--green-default);
}

footer.footer {
    grid-area: footer;
    background-color: var(--white-default);
    margin-top: 8px;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
}