body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 64px 1fr 64px;
    grid-template-areas:
        "header header"
        "sidebar content"
        "sidebar footer";
    height: 100vh;
    margin: 0;
    background-color: var(--white-default);
}

body.hide-sidebar {
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "content"
        "footer";
}

header.header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-default);
    font-size: 1.6rem;
    flex-basis: 250px;
    height: 100%;
}

header.header .menu-toggle {
    color: var(--white-default);
    cursor: pointer;
}

header.header .spacer {
    flex: 1;
}

header.header .dropdown-button {
    position: relative;
}

header.header .dropdown-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1rem;
    color: var(--white-default);
    cursor: pointer;
}

header.header .dropdown-content {
    position: absolute;
    min-width: 100%;
    background-color: var(--white-default);
    padding: 10px 0px;
    z-index: 100;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
}

header.header .dropdown-content ul {
    list-style: none;
    padding-left: 0;
}

header.header .dropdown-content a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    padding-left: 3px;
}

header.header .dropdown-content a:hover {
    text-decoration: underline;
    padding-left: 3px;
}

aside.sidebar {
    grid-area: sidebar;
    background-color: var(--white-default);
}

header.header {
    grid-area: header;
    background:var(--blue-default);
    display: flex;
    align-items: center;
    z-index: 10;
    box-shadow:
        0 2px 4px -1px rgba(0, 0, 0, .2),
        0 4px 4px -1px rgba(0, 0, 0, .14),
        0 1px 10px 0px rgba(0, 0, 0, .12);
}

body.hide-sidebar aside.sidebar {
    display: none;
}

main.content {
    grid-area: content;
    background-color: var(--green-default);
}

footer.footer {
    grid-area: footer;
    background-color: var(--white-default);
    margin-top: 8px;
    font-weight: bold;
    text-align: center;
}